.idea
build/*
chat-test-war/build/*
chat-test-ejb/build/*
dist/*
chat-test-ejb/dist/*
chat-test-war/dist/*
chat-test-ejb/nbproject/
chat-test-war/nbproject/
nbproject/
nbproject/private/
chat-test-ejb/nbproject/private/
chat-test-war/nbproject/private/
chat-test-ejb/nbproject/*
chat-test-war/nbproject/*
nbproject/*
chat-test-ejb/nbproject/private/*
chat-test-war/nbproject/private/*
nbproject/private/*
build.xml